{% extends "base.html" %}
{% load static %}
{% block title %}Inicio{% endblock title %}
{% block content %}
    <div style="display: flex; justify-content: center; align-items: center;">
        <img src="{% static 'pizza_quito.png' %}" alt="Descripción de la imagen" height="200">
    </div>
    <div class="bg-secondary text-center text-white p-4 rounded shadow-sm my-1 mx-auto" style="max-width: 1000px; max-height: 100px;">
        <h1 class="h5">
            Bienvenido a la página de Quito Pizza. Mediante esta página web puede realizar el ingreso de productos, pizzas, etc. Para poder realizar el ingreso o cambios deberá ingresar a través de su cuenta.
        </h1>
    </div>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-6 mb-3">
                        <a href="pizza/">
                            <button class="btn btn-outline-primary btn-lg btn-block" width="128" height="128">
                                <i class="fa-solid fa-pizza-slice"></i>
                                <span>Pizzas</span>
                            </button>
                        </a>
                    </div>
                    <div class="col-6 mb-3">
                        <a href="product/">
                        <button class="btn btn-outline-primary btn-lg btn-block" width="128" height="128">
                            <i class="fa-solid fa-mug-hot"></i>
                            <span>Productos</span>
                        </button>
                        </a>
                    </div>
                    <div class="col-6 mb-3">
                        <a href="category/">
                        <button class="btn btn-outline-primary btn-lg btn-block"  width="128" height="128">
                            <i class="fa-solid fa-list"></i>
                            <span>Categorias</span>
                        </button>
                        </a>
                    </div>
                    <div class="col-6 mb-3">
                        <a href="client/">
                        <button class="btn btn-outline-primary btn-lg btn-block"  width="128" height="128">
                            <i class="fa-solid fa-children"></i>
                            <span>Clientes</span>
                        </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

