{% extends "base.html" %}
{% load static %}
{% block title %}Inicio{% endblock title %}
{% block content %}
    <h1 style="font-size: 20px; margin-left: 50px; font-family: 'Italianno', cursive;">Bienvenido a la pagina de Quito Pizza, mediante esta pagina web puede realizar el ingreso de productos, pizzas, etc. Para poder realizar el ingreso o cambios debera ingresar a traves de su cuenta.</h1>

    <p style="font-size: 1.7em; margin-top: 1em; margin-bottom: 1em;" class= "text-center">Elija que desea realizar a continuacion:</p>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-6 mb-3">
                        <a href="pizza/">
                            <button class="btn btn-outline-primary btn-lg btn-block" width="128" height="128">
                                <img src="{% static 'pizza.jpg' %}" class="img-fluid">
                                <span>Pizzas</span>
                            </button>
                        </a>
                    </div>
                    <div class="col-6 mb-3">
                        <a href="/">
                        <button class="btn btn-outline-primary btn-lg btn-block" width="128" height="128">
                            <img src="{% static 'productos.jpg' %}" class="img-fluid">
                            <span>Productos</span>
                        </button>
                        </a>
                    </div>
                    <div class="col-6 mb-3">
                        <a href="category/">
                        <button class="btn btn-outline-primary btn-lg btn-block"  width="128" height="128">
                            <img src="{% static 'CategoriaOk.jpg' %}" class="img-fluid">
                            <span>Categorias</span>
                        </button>
                        </a>
                    </div>
                    <div class="col-6 mb-3">
                        <a href="client/">
                        <button class="btn btn-outline-primary btn-lg btn-block"  width="128" height="128">
                            <img src="{% static 'cliente.jpeg' %}" class="img-fluid">
                            <span>Clientes</span>
                        </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

