{% extends "base.html" %}
{% load static %}
{% block title %}Productos{% endblock title %}
{% block content %}
        <div class="container">
            <h2 style="margin-top: 1em; margin-bottom: 1em;" class="text-center">Productos</h2>
            {% if user.is_authenticated %}
                <div class="d-flex">
                    <a href="{% url "quito_pizza:add_product" %}">
                        <button style=" margin-bottom: 2em;" class="btn btn-outline-primary btn-lg btn-block">
                            <h6>Agregar Producto</h6>
                        </button>
                    </a>
                </div>
            {% endif %}
            <div class="card-group">
                {% for product in products %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="{{ product.picture_products.url }}" alt="{{ product }}" style="height:300px; object-fit: scale-down;">
                            <div class="card-body d-flex flex-column"> 
                                <div class="mb-auto">
                                    <h6 class="card-title"><strong>{{ product }}</strong></h6>
                                    <p class="card-subtitle"><strong>Precio: ${{ product.price_product }}</strong></p>
                                </div>
                                <div class="d-flex justify-content-center mt-3">
                                    <a href="{{ product.id }}" class="btn btn-primary mr-2"><i class="fa-solid fa-eye"></i></a>
                                    {% if user.is_authenticated %}
                                        <a href="edit/{{ product.id }}" class="btn btn-primary mr-2"><i class="fa-solid fa-pencil"></i></a>
                                        <a href="delete/{{ product.id }}" onclick="confirmScript(event, 'delete {{ product }}? This action is not reversible.')" class="btn btn-danger mr-2"><i class="fa-solid fa-trash"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="d-flex justify-content-center">
                <a href="/">
                    <button style="margin-bottom: 3em; margin-top: 3em;" class="btn btn-outline-primary btn-lg btn-block">
                        <h6>Return</h6>
                    </button>
                </a>
            </div>
        </div>
{% endblock content %}