{% extends "base.html" %}
{% block title %}Agregar Venta{% endblock title %}
{% block content %}
<div class="container-md">
    <div class="card mb-3" style="margin: 0 auto; margin-top: 2em;">
        <div class="card-header text-center">
            <h3 class="card-title mb-0">Agregar Compra</h3>
        </div>
        <div class="card-body">
            <form method="POST" id="purchase_form">
                {% csrf_token %}
                
                <div class="mb-3">
                    <label for="client" class="form-label">Cliente</label>
                    <select name="client" id="client" class="form-control" required>
                        <option value="" disabled selected>Seleccione un cliente</option>
                        {% for client in clients %}
                            <option value="{{ client.id }}">{{ client }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="date" class="form-label">Fecha</label>
                    <input type="datetime-local" name="date" id="date" class="form-control" required>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h5 class="mt-4 mb-3"><strong>Pizzas</strong></h5>
                        <table class="table table-bordered">
                            <thead>
                                <tr class="text-center">
                                    <th style="width: 40%;">Pizza</th>
                                    <th style="width: 20%;">Precio Unitario</th>
                                    <th style="width: 20%;">Cantidad</th>
                                    <th style="width: 20%;"><i class="fa-regular fa-square-check"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pizza in pizzas %}
                                <tr>
                                    <td class="text-center">{{ pizza }}</td>
                                    <td class="text-center">${{ pizza.price_pizza }}</td>
                                    <td class="text-center">
                                        <input type="number" name="amount_pizzas[]" value="1" min="1" class="form-control">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" name="pizzas[]" value="{{ pizza.id }}" class="form-check-input">
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <h5 class="mt-4 mb-3"><strong>Productos</strong></h5>
                        <table class="table table-bordered">
                            <thead>
                                <tr class="text-center">
                                    <th style="width: 40%;">Producto</th>
                                    <th style="width: 20%;">Precio Unitario</th>
                                    <th style="width: 20%;">Cantidad</th>
                                    <th style="width: 20%;"><i class="fa-regular fa-square-check"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in products %}
                                {% if product.stock > 0 %}
                                <tr>
                                    <td class="text-center">{{ product }}</td>
                                    <td class="text-center">${{ product.price_product }}</td>
                                    <td class="text-center">
                                        <input type="number" name="amount_products[]" value="1" min="1" class="form-control">
                                        {% if product.stock < 4 %}
                                            <div class="text-danger mt-2" style="font-size:12px;">¡Quedan pocas unidades! ({{ product.stock }})</div>
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" name="products[]" value="{{ product.id }}" class="form-check-input">
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <h5 class="text-right mt-4">Total: $<span id="total_purchase">0.00</span></h5>

                <button type="submit" class="btn btn-primary mt-3 mb-0">Guardar</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
